<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Vevahik Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="Startup Tests">
        <classes>
            <class name="tests.StartUP.verifylanding"/>
        </classes>
    </test>

</suite>